<template>
    <div class="container">
        <h3>Create new product</h3>
        <form @submit.prevent="saveProduct" class="add-new-form">
            <div class="form-row">
                <input class="input-field" type="text" v-model="name" required>
                <label for="">Product name</label>
            </div>
            <div class="form-row">
                <input class="input-field" type="text" v-model="unit" required>
                <label for="">Unit</label>
            </div>
            <div class="form-row">
                <input class="input-field" type="text" v-model="amount" required>
                <label for="" >Amount</label>
            </div>
            <button type="submit" class="sbm-btn">Submit</button>
            <router-link to="/">
                <button>Back</button>
            </router-link>
        </form>
    </div>
</template>

<script>

import { mapActions } from "vuex";

export default {
    data(){
        return{
            name: null,
            unit: null,
            amount: null,
        }
    },
    methods: {
        ...mapActions(['addItem']),

        saveProduct(){
            this.addItem({
                name: this.name,
                unit: this.unit,
                amount: this.amount
            })
            .then(() => {
                this.$router.push('/')
            })
        }
    },

}
</script>

<style>
.add-new-form{
    margin: auto;
    display: inline-block;
}
.form-row {
    display: flex;
    margin-bottom: 5px;
}
.input-field{
    margin-right: 5px;
}
.sbm-btn{
    margin: 10px;
}
</style>
