<template>
    <div v-if="isLoading">Loading....</div>
    <div v-else>
        <div class="container">
            <h3>View Product</h3>  
            <div>
                <table border="1" class="table-info">
                    <tr>
                        <th>Product name</th>
                        <th>Unit</th>
                        <th>Amount</th>
                    </tr>
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.unit }}</td>
                        <td>{{ item.amount }}</td>
                    </tr>
                </table>
            </div>
            <router-link to="/">
                <button >Back</button>
            </router-link>
        </div>
    </div>

</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
    data() {
        return {
            item: {}
        };
    },
    computed: {
        ...mapGetters(['getItemById', 'isLoading']),
    },
    methods: {
        ...mapActions(['loadList']),
    },
    async created(){
        await this.loadList()

        const itemId = this.$route.params.id;
        const item = this.getItemById(itemId);
        this.item = item;
    }


}
</script>

<style>

    .table-info{
        margin: auto;
        width: 100%;
    }
    td {
        text-align: center;
    }
    .filter{
        margin-bottom:10px;
    }


</style>