<template>
    <div v-if="isLoading">Loading....</div>
    <div v-else>
        <div class="container">
            <h3>View All products</h3>
            
            <table border="1" class="table-info">
                <tr>
                    <th>Product name</th>
                    <th>Unit</th>
                    <th>Amount</th>
                    <th>Show</th>
                    <th>Delete</th>
                </tr>
                <tr v-for="item in getItemsList" :key="item.id">
                    <td>{{ item.name }}</td>
                    <td>{{ item.unit }}</td>
                    <td>{{ item.amount }}</td>
                    <td>
                        <button @click="$router.push(`/${item.id}`)">
                            Show
                        </button>
                    </td>
                    <td>
                        <button @click="deleteItem(item.id),  $router.push('/') ">
                            Delete
                        </button>
                    </td>
                </tr>
            </table>
            <div class="filter">
            <form @submit.prevent="loadFilteredDataByUnit">
                <label>Filter by name:</label>
                <input type="text" v-model="unitForFiltering" required>
                <button>Filter</button>
            </form>
            </div>
            <div class="add-btn">
                <router-link to="/new">
                    <button>Create new</button>
                </router-link>
            </div>
        </div>
    </div>

</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
    data(){
        return{
            unitForFiltering: null,
        }
    },
    computed: {
        ...mapGetters(['getItemsList', 'isLoading']),
    },
    methods: {
        ...mapActions(['loadList', 'deleteItem', 'loadFilteredData']),
        loadFilteredDataByUnit(){
            this.loadFilteredData({fieldTitle: 'unit', compareOperator: '==', valueToCompare: this.unitForFiltering })
        }

    },
    created(){
        this.loadList()
    }
}
</script>

<style>
    .table-info{
        margin: auto;
        width: 100%;
    }
    .add-btn{
        margin-top: 10px;
    }
    td {
        text-align: center;
    }
    .filter{
        margin-top: 10px;
    }
</style>