<template>
  <nav>
    <router-link to="/">View All Products</router-link> |
    <router-link to="/about">About</router-link> 
  </nav>
  
  <router-view/>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
.container {
        margin: auto;
        width: 40%;
        border: 1px solid grey;
        padding: 10px;

    }
</style>
